<!-- project/update_profile_form.html -->
<!-- Author: Sarinna Sung, (ssung101@bu.edu), 03/24/2021-->
<!-- being able to update the profile form and given the option. -->

{% extends 'profile/base.html' %}

{% block content %}

<h1>Update Profile</h1>

<form method="POST"> <!-- HTTP POST to send data to the server -->
    {% csrf_token %}

    <!-- display the form context variable -->
    <!-- {{form}} <!-- display the form without formatting --> 

    <!-- {{form.as_p}} <!-- paragraph style formatting -->
    <table> 
    {{form.as_table}} <!-- table-style formatting -->
    <tr>
        <td></td> <!-- empty! -->
        <td><input type="submit" value="Update"></td>
    </tr>
    </table>
    
</form>

{% endblock %}