<!-- profile/show_all_profiles.html -->

<h1 style="color:rgb(66, 103,178);"> MiniFacebook </h1> <!-- Creating a heading and changing the color to blue-->

<!-- display the context data -->
<h2 style="color:rgb(66,103,178); font-size: 40pt;"><center> Showing all Profiles</center></h2> <!-- Creating a new heading for showing all the profiles, adding a color, adding a font size, and centering-->
<table > <!-- Creating a table--> 
    
    <colgroup> <!-- Adjusting the colum width and how it looks on the table-->

        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 35%;">
        <col span="1" style="width: 35%;">

    </colgroup>
    <tr> <!-- Adding the column names on the table -->
        <th>First Name</th> 
        <th>Last Name</th>
        <th>City</th>
        <th>Email Address</th>
        <th>Profile Image</th>
    </tr>

    {% for profile in profiles %} <!-- create a loop to display the first name, last name, city, email address, image if the person -->
    
    <tr> <!-- using the attributes and displaying each of them and centering them -->
        <td><center>{{profile.first_name}}</center></td> 
        <td><center>{{profile.last_name}}</center></td>
        <td><center>{{profile.city}}</center></td>
        <td><center>{{profile.email_address}}</center></td>
        <td><center><img src= "{{profile.profile_img_url}}" style = "max-width:200; max-height: 200"></center> </td> <!-- adding an image and creating image source and sizing the picture size.-->
        {% endfor %} <!-- to end the loop we need this statement -->
    </tr>

</table>


